<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.handy.media.record">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
                android:name="com.handy.media.debug.DebugMediaRecordActivity"
                android:label="@string/module_record_name" />
    </application>

</manifest>